.grid {
  margin: 0 0 .5em;
}

.inlineInput {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 1em;
}

.labelStartY {
  margin-right: 0.3em;
  color: #77DD77;
}

.labelStartX {
  margin-right: 0.3em;
  color: #77DD77;
}

.labelX {
  color: #fd7f7f;
}

.labelY {
  color: #fd7f7f;
}


input {
  margin-left: 0.3em;
  border-radius: 0.5em;
}

.buttons {
  display: flex;
  justify-content: space-around;
  padding-bottom: -1.5em;
  /* margin-top: -0.7em; */
}

.viz {
  cursor: pointer;
  color: white;
  border-color: white;
  background-color: #ffc0ab;
  border-radius: 0.5em;
  height: 3em;
  margin-top: 1.5em;
  margin-right: 1em;
  border: 0.1em solid white;
}

.viz:hover {
  color: #ffc0ab;
  background-color: white;
  border-top: 0.1em solid #ffc0ab;
  border-left: 0.1em solid #ffc0ab;
}

.reload {
  border: 0.1em solid white;
  cursor: pointer;
  border-color: white;
  color: white;
  background-color: #ffc0ab;
  border-radius: 0.5em;
  height: 3em;
  margin-top: 1.5em;
  margin-right: 1.5em;
}

.reload:hover {
  color: #ffc0ab;
  background-color: white;
  border-top: 0.1em solid #ffc0ab;
  border-left: 0.1em solid #ffc0ab;
}

.Nav {
  background-color: #ffc0ab;
  margin-bottom: -0.7em;
}

#myStartInputX {
  color: #77DD77;
  border-color: #77DD77;
}

#myStartInputY {
  color: #77DD77;
  border-color: #77DD77;
}

#myEndInputX {
  color: #fd7f7f;
  border-color: #fd7f7f;
}

#myEndInputY {
  color: #fd7f7f;
  border-color: #fd7f7f;
}

.startAxis {
  display: flex;
  flex-direction: row;
  width: 9%;
}

.endAxis {
  display: flex;
  flex-direction: row
}

form {
  margin: 0.3em 0em 0.3em;
}

img {
  margin-top: .3em;
  margin-left: 1em;
}

.row {
  margin-bottom: -0.1em;
}

#myStartInputX:disabled {
  background-color: #ffc0ab;
  color: linen;
  opacity: 1;
}

#myStartInputY:disabled {
  background-color: #ffc0ab;
  color: linen;
  opacity: 1;
}

#myEndInputX:disabled {
  background-color: #ffc0ab;
  color: linen;
  opacity: 1;
}

#myEndInputY:disabled {
  background-color: #ffc0ab;
  color: linen;
  opacity: 1;
}

#myEndInputY:disabled::-webkit-input-placeholder {
  color: #fd7f7f;
}

#myEndInputX:disabled::-webkit-input-placeholder {
  color: #fd7f7f;
}

#myStartInputY:disabled::-webkit-input-placeholder {
  color: #77DD77;
}

#myStartInputX:disabled::-webkit-input-placeholder {
  color: #77DD77;
}

.tooltip {
  position: relative;
  display: inline-block;
  content: "\0021";
  color: linen;
  margin-top: 1.5em;
  margin-right: 1.5em;
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}